<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.myapplication"
    android:installLocation="auto"
    >
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.list.ListViewTestActivity"/>
        <activity android:name=".activity.list.RefreshGridActivity"/>
        <activity android:name=".activity.list.RefreshListActivity"/>
        <activity android:name=".activity.list.RefreshScrolloListViewActivity"/>
        <activity android:name=".activity.list.RefreshActivity"/>
        <activity android:name=".activity.list.SortListViewMainActivity"/>
        <activity android:name=".activity.list.WatefallListActivity"/>
        <activity android:name=".activity.list.staggeredGridViewActivity"/>
        <activity android:name=".activity.list.DynGridViewActivity"/>
        <activity android:name=".activity.myview.MyCustomViewActivity"/>
        <activity android:name=".activity.myview.MoreScreenActivity"/>
        <activity android:name=".activity.myview.MorePositionActivity"/>
        <activity android:name=".activity.myview.MyScrollViewActivity"/>
        <activity android:name=".activity.myview.MyDrawTestActivity"/>
        <activity android:name=".activity.myview.MyTextActivity"/>
        <activity android:name=".activity.sys.SysTestActivity"/>
        <activity android:name=".activity.sys.ScrlooTestActivity"/>
        <activity android:name=".activity.effert.WheelViewActivity"/>
        <activity android:name=".activity.effert.EffertActivity"/>
    </application>

</manifest>